* {
  margin: 0;
}

img {
  width: 100%;
}




header h1 {
  color: #ff9614;
  font-family: 'Nerko One', cursive;
  font-size: 3rem;
  text-shadow: 1px 1px rgba(0,0,0, 0.5);
  text-align: center;
}




body > :not(header) {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}




main {
  background-color: #f6f5f3;
}




.container {
  width: 100%;
  padding: 5% 0;
}

.dettagli {
  margin: 0 5%;
  margin-bottom: 7%;
}

.categoria {
  color: #a599a5;
  margin-bottom: 0.5rem;
}

.dettagli h2 {
  color: #4e3969;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.dettagli h2 span {
  display: none;
}

.card {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card .info {
  padding: 7% 6%;
}

.card .info h3 {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.card .info ul {
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}




.banner {
  display: none;
}




.social {
  margin-bottom: 7%;
}

.social ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 5%;
  justify-content: space-between;
}

.social ul li {
  background-color: white;
  padding: 0.5rem 0.9rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.social .fa-facebook {
  color: #1a77f3;
}

.social .fa-twitter {
  color: #009eff;
}

.social .fa-instagram {
  color: #de3d78;
}

.social .fa-pinterest, .social .fa-youtube {
  color: #e62222;
}




.presentazione {
  padding: 0 5%;
}

.presentazione h3 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2%;
}

.presentazione hr {
  width: 17%;
  border: 1px solid #f7972e;
  margin-bottom: 4%;
}

.presentazione img {
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 3%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.presentazione p {
  line-height: 2rem;
  margin-bottom: 4%;
}




footer {
  background-color: #7c69a4;
  text-align: center;
  color: white;
  line-height: 2rem;
  padding: 5% 0;
}

footer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

footer a {
  color: white;
}




@media screen and (min-width: 768px) {
  
  header h1 {
    margin-left: 2%;
    text-align: left;
  }



  .dettagli {
    margin-bottom: 5%;
  }

  .dettagli h2 span {
    display: inline;
  }

  .card .info h3 {
    margin-bottom: 3rem;
  }

  .card .info {
    padding: 5% 4% 3%;
  }

  .card .info ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    gap: 0
  }
  
  .card .info ul li {
    width: 33%;
    margin-bottom: 2.5rem;    
  }




  .social {
    margin-bottom: 5%;
  }

  .social ul li {
    font-size: 1.2rem;
    padding: 0.6rem 3.5rem;
    border-radius: 2rem;
  }




  .banner {
    display: block;
    margin-bottom: 5%;
    padding: 0 5%;
  }




  .presentazione img {
    float: left;
    width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

}




@media screen and (min-width: 992px) {
  
  main {
    padding: 0 10%;
  }




  .dettagli .card {
    display: flex;
  }

  .card .video {
    width: 70%;
  }

  .card .info {
    width: 20%;
  }

  .card .info ul {
    display: block;
  }

  .card .info ul li {
    margin-bottom: 1rem;
    width: 100%;
  }

}